.button{
    color: white;
    background: $blue;
    border: none;
    padding: $s-size;
    font-weight: 300;
    font-size: $font-size-large;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
}

.button--link{
    background: none;
}

.button--login{
    background: blueviolet;
}

.button--secondary{
    background: #888888
}