.list-header{
    background: #f7f7f7;
    border: 1px solid darken($color: (#f7f7f7), $amount: 7);
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: $s-size $m-size;
}

.list-body{
    margin-bottom: $m-size;
    @media (min-width: $desktop-breakpoint) {
        margin-bottom: $l-size;
    }
}

.list-item{
    display: flex;
    flex-direction: column;
    color: $dark-gray;
    border: 1px solid darken($color: (#f7f7f7), $amount: 7);
    border-top: none;
    padding: $s-size;
    text-decoration: none;
    transition: background .3s ease;
    &:hover{
        background: #f7f7f7;
    }

    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
        justify-content: space-between;
        padding: $m-size;
        align-items: center;
    }
}

.list-item__title{
    margin: 0;
    word-break: break-all;
}

.list-item__sub-title{
    color: $grey;
    font-size: 1.4rem;
}

.list-item__data{
    margin: $s-size 0 0 0;
    @media (min-width: $desktop-breakpoint) {
        margin: 0;
        padding-left: $s-size;
    }
}

.list-item--message{
    align-items: center;
    justify-content: center;
    color: $grey;
    padding: $m-size;
    &:hover{
        background: none;
    }
}